

body

    padding-top: 100px - 25px
    +media-up(sm)
        padding-top: 100px



.section--padding
    padding: 60px 0


.flex--wrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom
    will-change: transform
    transition: transform 200ms linear

.headroom--pinned
    transform: translateY(0%)

.headroom--unpinned
    transform: translateY(-150%)



.spacer
    display: block
    width: 100%

    &--xs
        height: 30px

    &--sm
        height: 60px


.image__shadow
    display: block
    border: solid 4px #fff
    box-shadow: rgba(#000, 0.9) 0 10px 30px -10px
